
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    </head>
    <body class="bg-gray-100">
        <div class="w-full min-h-screen flex items-center justify-center">
            <div class="w-1/2 mx-auto mt-10 bg-gradient-to-r from-indigo-200 via-purple-200 to-pink-200 p-8 rounded-lg shadow-2xl">
                <h2 class="text-3xl font-bold text-purple-800 mb-6 text-center">Create Task</h2>
                
                <div class="bg-gradient-to-r from-indigo-200 via-purple-200">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <form method="POST" enctype='multipart/form-data' class="space-y-6">
                    {% csrf_token %}
                    {{ task_form }}
                    {{ task_detail_form }}
                    <button type="submit" class="mb-5 bg-gradient-to-r from-rose-400 to-red-500 text-white px-6 py-2 rounded-full shadow-lg hover:from-rose-500 hover:to-red-600 transition duration-300">
                        Submit Your Task
                    </button>
                </form>
            </div>
        </div>
    </body>
    </html>
</body>
</html> 
