 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}</h1>  

       <!-- Logout Form -->
        <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
            <button type="submit">Logout</button>
        </form> 

    {% else %}
        <h1>Not Authenticated</h1>
    {% endif %}
</body>
</html> 
